h1{
    text-align: center;
    color: blueviolet;
    text-decoration: blue underline;
    letter-spacing: 8px;
    font-size: 70px;
}
h2{
    color: rgb(42, 45, 92);
    background-color: rgb(30, 255, 100);
}
h3 {
    color:#000;
    font-weight: 700;
    background-color: #FF9011;
}
p {
    text-align: justify;
    color: cornflowerblue;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif; 
    /* on font family if the browser dont have 
    the first font, it will automatically 
    take the second one, if the second one dont 
    have so it will continue to search on 
    back up font (the font after the first font) */
}
a{
    text-decoration: none;
}
button{
    color: cornsilk;
    background-color: darkmagenta;
}